* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
#root {
  height: 100%;
}
body {
  font: 14px Arial Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased !important;
}
.hide {
  display: none !important;
}
.loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
